PORT = 5000
DB_URL = "mongodb+srv://dbUser:shakil51613236@cluster0.q21nfi0.mongodb.net/tour-bd?retryWrites=true&w=majority&appName=Cluster0"
NODE_ENV = development

JWT_ACCESS_SECRET = access_secret
JWT_ACCESS_EXPIRES = 1d
JWT_REFRESH_SECRET = JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRED = 30d


BCRYPT_SALT_ROUND = 10

SUPER_ADMIN_EMAIL= super@gmail.com
SUPER_ADMIN_PASSWORD= 51613236

# // google
GOOGLE_CLIENT_SECRET = GOOGLE_CLIENT_SECRET
GOOGLE_CLIENT_ID = GOOGLE_CLIENT_ID
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback


# Express Session
EXPRESS_SESSION_SECRET=express-session

# Frontend URL
FRONTEND_URL=http://localhost:5173